################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/builds
/thirdparty/builds
/benchmark/builds
/unittest/builds
/tools/builds
/resources/Viewer/frameGrabs
/resources/Viewer/screenGrabs
